# This is a .gitignore file for the FNO project

.venv_FNO/*
/neuraloperator/*
!/neuraloperator/neuralop
!/nerualoperator/neuralop/**
/src/FNO/output/**
/src/CNN/output/**
/src/pflotran_run/output/**
/src/pflotran_code/output/*.h5
/src/pflotran_code/output/*.xmf
/src/pflotran_code/output/*mas.dat
*.png
*.out
*.pt
*.pkl
*.npy
mixing_*
calcite_*.5
pyrite_*.5
clinochlore_*.5
!*cell*