# This is a .gitignore file for the FNO project

.venv_FNO/*
neuraloperator/*
/src/FNO/output/**
/src/CNN/output/**
/src/pflotran_run/output/**
/src/pflotran_code/output/*.h5
/src/pflotran_code/output/*.xmf
/src/pflotran_code/output/*mas.dat
*.png
*.out
*.pt
mixing_*
calcite_*.5
pyrite_*.5
clinochlore_*.5
!*cell*